APP_TIMEZONE=Asia/Tokyo

DB_HOST=database.example.test
DB_PORT=3306
DB_NAME=example_database
DB_USER=example_database_user
DB_PASSWORD=example_database_password

SLACK_BOT_TOKEN=example_slack_bot_token

IMAP_HOST=imap.example.test
IMAP_PORT=993
IMAP_USERNAME=user@example.test
IMAP_PASSWORD=example_imap_password

SCHEDULER_BEARER_TOKEN=example_scheduler_bearer_token
OVERTIME_BEARER_TOKEN=example_overtime_bearer_token
